.stats_section {
  width: 375px;
  height: 250px;
  background-color: #e7ecf2;
}

.title {
  display: flex;
  position: relative;
  top: 50px;
  left: 40px;
  width: 225px;
  background-color: #ffffff;
  font-size: 16px;
  font-family: 'ProximaNova';
  color: rgb(71, 89, 101);
  line-height: 1.2;
  text-transform: uppercase;
  justify-content: center;
  padding: 25px;
}

.stat_list {
  display: flex;
  list-style: none;
  position: relative;
  top: 34px;
}

.item {
  background-color: #4fc4f6;
  text-align: center;
  padding-top: 10px;
  width: 67px;
  height: 60px;
  border: 1px;
  font-family: 'ProximaNova';
  color: rgb(255, 255, 255);
  line-height: 1.111;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(228, 233, 240);
}

.label {
  font-size: 12px;
  line-height: 1.667;
}

.percentage {
  font-size: 18px;
  line-height: 1.111;
}
