.transaction_history {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  display: table;
  border-collapse: separate;
  text-align: left;
}

.transaction_list {
  list-style-type: none;
}

.transaction_head {
  font-family: 'Franklin Gothic', sans-serif;
  font-size: 15px;
  padding: 10px 8px;
  color: #039;
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  font-weight: normal;
}

.transaction_body {
  border-bottom: 1px solid #fff;
  background: #e8edff;
  color: #669;
  border-top: 1px solid transparent;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  padding: 9px 8px;
  list-style-type: none;
}
