.form {
  display: flex;
  justify-content: space-around;
  width: 800px;
  margin: 0 auto;
  border-radius: 2px;
  min-height: 40px;
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
}

.input_form {
  padding: 10px 15px;
  width: 230px;
  font-size: 15px;
}

.select_form {
  padding: 10px 15px;
  width: 300px;
  font-size: 15px;
}

.button_form {
  padding: 10px 15px;
  width: 230px;
  border: 1px solid rgb(19, 16, 16);
  cursor: pointer;
}
